[https://medium.com/@ab.jannatpour/advanced-pairs-trading-kalman-filters-b171144ce6d5](https://)

In [1]:
import sys
sys.path.append('../../')

In [2]:
from util.load_data import *
from config.constants import *

In [3]:
XAUUSD = load_data()

In [43]:
data_1 = XAUUSD['D1']

In [56]:
data_2 = pd.read_csv(
    PATH_DATA + '/USDJPY/USDJPY_D1 - USDJPY_D1' + '.csv', index_col='Time', parse_dates=True)

In [6]:
# Define the system model for the spread
A = 1
Q = 0.1

# Define the measurement model for the spread
H = 1
R = 0.1

In [7]:
mu = 0
sigma = 0.1

In [8]:
x = 0
P = 1

In [45]:
data_1

                Open      High       Low     Close  Volume
Time
2007-01-01   635.679   637.103   635.006   635.943     604
2007-01-02   635.791   640.802   635.286   639.143    1282
2007-01-03   639.029   644.663   624.634   626.602    1302
2007-01-04   626.699   630.352   619.600   622.533    1365
2007-01-05   622.268   625.768   601.591   606.841    1284
...              ...       ...       ...       ...     ...
2023-03-06  1852.255  1858.168  1845.015  1846.255    1380
2023-03-07  1846.225  1851.555  1812.655  1813.865    1380
2023-03-08  1813.855  1824.185  1809.248  1815.175    1379
2023-03-09  1815.195  1835.565  1811.805  1831.415    1366
2023-03-10  1831.428  1867.348  1827.675  1864.098    1080

[5043 rows x 5 columns]

In [57]:
data_2

               Open     High      Low    Close  Volume
Time
2007-02-12  121.900  121.953  121.730  121.764   64849
2007-02-13  121.760  121.766  121.090  121.263  618320
2007-02-14  121.272  121.347  120.226  120.286  616539
2007-02-15  120.282  120.359  119.147  119.376  617115
2007-02-16  119.370  119.550  118.984  119.392  586044
...             ...      ...      ...      ...     ...
2023-03-06  136.016  136.190  135.364  135.995  506836
2023-03-07  135.995  137.438  135.537  137.387  595894
2023-03-08  137.392  137.910  136.477  137.223  528313
2023-03-09  137.223  137.254  135.940  136.365  518978
2023-03-10  136.365  136.992  134.111  134.738  579900

[5021 rows x 5 columns]

In [58]:
data_1 = data_1.loc['2007-02-12':]

In [59]:
data_2 = data_2.loc[:'2023-03-10']

In [60]:
data = pd.concat([data_1, data_2], axis=1, keys=['StockA', 'StockB'])

In [64]:
data

              StockA                                         StockB           \
                Open      High       Low     Close  Volume     Open     High
Time
2007-02-12   666.520   666.898   659.061   660.524  1329.0  121.900  121.953
2007-02-13   660.511   668.870   659.846   663.033  1353.0  121.760  121.766
2007-02-14   663.468   671.708   663.013   668.469  1333.0  121.272  121.347
2007-02-15   668.441   670.400   661.906   667.930  1332.0  120.282  120.359
2007-02-16   668.023   669.348   662.058   668.094  1187.0  119.370  119.550
...              ...       ...       ...       ...     ...      ...      ...
2023-03-06  1852.255  1858.168  1845.015  1846.255  1380.0  136.016  136.190
2023-03-07  1846.225  1851.555  1812.655  1813.865  1380.0  135.995  137.438
2023-03-08  1813.855  1824.185  1809.248  1815.175  1379.0  137.392  137.910
2023-03-09  1815.195  1835.565  1811.805  1831.415  1366.0  137.223  137.254
2023-03-10  1831.428  1867.348  1827.675  1864.098  1080.0  136.365  136.992


                Low    Close    Volume
Time
2007-02-12  121.730  121.764   64849.0
2007-02-13  121.090  121.263  618320.0
2007-02-14  120.226  120.286  616539.0
2007-02-15  119.147  119.376  617115.0
2007-02-16  118.984  119.392  586044.0
...             ...      ...       ...
2023-03-06  135.364  135.995  506836.0
2023-03-07  135.537  137.387  595894.0
2023-03-08  136.477  137.223  528313.0
2023-03-09  135.940  136.365  518978.0
2023-03-10  134.111  134.738  579900.0

[5030 rows x 10 columns]

In [62]:
data_1

                Open      High       Low     Close  Volume
Time
2007-02-12   666.520   666.898   659.061   660.524    1329
2007-02-13   660.511   668.870   659.846   663.033    1353
2007-02-14   663.468   671.708   663.013   668.469    1333
2007-02-15   668.441   670.400   661.906   667.930    1332
2007-02-16   668.023   669.348   662.058   668.094    1187
...              ...       ...       ...       ...     ...
2023-03-06  1852.255  1858.168  1845.015  1846.255    1380
2023-03-07  1846.225  1851.555  1812.655  1813.865    1380
2023-03-08  1813.855  1824.185  1809.248  1815.175    1379
2023-03-09  1815.195  1835.565  1811.805  1831.415    1366
2023-03-10  1831.428  1867.348  1827.675  1864.098    1080

[5007 rows x 5 columns]

In [63]:
data_2

               Open     High      Low    Close  Volume
Time
2007-02-12  121.900  121.953  121.730  121.764   64849
2007-02-13  121.760  121.766  121.090  121.263  618320
2007-02-14  121.272  121.347  120.226  120.286  616539
2007-02-15  120.282  120.359  119.147  119.376  617115
2007-02-16  119.370  119.550  118.984  119.392  586044
...             ...      ...      ...      ...     ...
2023-03-06  136.016  136.190  135.364  135.995  506836
2023-03-07  135.995  137.438  135.537  137.387  595894
2023-03-08  137.392  137.910  136.477  137.223  528313
2023-03-09  137.223  137.254  135.940  136.365  518978
2023-03-10  136.365  136.992  134.111  134.738  579900

[5021 rows x 5 columns]

In [15]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5007 entries, 2007-02-12 to 2023-03-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5007 non-null   float64
 1   High    5007 non-null   float64
 2   Low     5007 non-null   float64
 3   Close   5007 non-null   float64
 4   Volume  5007 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 234.7 KB

In [16]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5021 entries, 2007-02-12 to 2023-03-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5021 non-null   float64
 1   High    5021 non-null   float64
 2   Low     5021 non-null   float64
 3   Close   5021 non-null   float64
 4   Volume  5021 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 235.4 KB

In [84]:
import numpy as np
from pykalman import KalmanFilter
import pandas as pd

# loading stocks data
stock1 = data_1
stock2 = data_2

# calculate the spread
spread = stock1['Close'] - stock2['Close']

stock = spread.to_frame()

# create the kalman filter object
kf = KalmanFilter(transition_matrices=A, observation_matrices=H,
                  initial_state_mean=x, initial_state_covariance=P,
                  transition_covariance=Q, observation_covariance=R)


(filtered_state_means, filtered_state_covariances) = kf.filter(spread.values)

# Extract the final estimate of the spread
estimated_spread = filtered_state_means[-1]

# Extract the final estimate of the spread uncertainty
estimated_spread_uncertainty = filtered_state_covariances[-1]

    # Define the long-term mean and standard deviation of the spread
# perform the prediction and update steps
for i in range(len(spread)):
    # prediction
    x_pred, P_pred = kf.filter_update(
        filtered_state_mean=x, filtered_state_covariance=P)

    # measurement
    z = spread[i]

    # update
    x, P = kf.filter_update(filtered_state_mean=x_pred,
                            filtered_state_covariance=P_pred, observation=z)
    
    
    mu = 0
    sigma = 0.1

    # Check if the spread is above its long-term mean and its uncertainty is high
    if estimated_spread > mu and estimated_spread_uncertainty > sigma:
        # Buy the stock with the lower price and sell the stock with the higher price
        # buy_stock = stock1
        # sell_stock = stock2
        stock['stock1_signal'] = 1
        stock['stock2_signal'] = -1
        
    elif estimated_spread < mu and estimated_spread_uncertainty > sigma:
        # Sell the stock with the lower price and buy the stock with the higher price
        # buy_stock = stock2
        # sell_stock = stock1
        stock['stock1_signal'] = -1
        stock['stock2_signal'] = 1
    else:
        # Do not make any trades
        # buy_stock = None
        # sell_stock = None
        stock['stock1_signal'] = 0
        stock['stock2_signal'] = 0

In [94]:
stock

               Close  stock1_signal  stock2_signal
Time
2007-02-12   538.760              0              0
2007-02-13   541.770              0              0
2007-02-14   548.183              0              0
2007-02-15   548.554              0              0
2007-02-16   548.702              0              0
...              ...            ...            ...
2023-03-06  1710.260              0              0
2023-03-07  1676.478              0              0
2023-03-08  1677.952              0              0
2023-03-09  1695.050              0              0
2023-03-10  1729.360              0              0

[5030 rows x 3 columns]

In [93]:
stock['stock1_signal'].value_counts().get(-1)

In [21]:
# Perform the prediction and update steps for each time step in the historical data
(filtered_state_means, filtered_state_covariances) = kf.filter(spread.values[-1])

In [24]:
data_2

               Open     High      Low    Close  Volume
Time
2007-02-12  121.900  121.953  121.730  121.764   64849
2007-02-13  121.760  121.766  121.090  121.263  618320
2007-02-14  121.272  121.347  120.226  120.286  616539
2007-02-15  120.282  120.359  119.147  119.376  617115
2007-02-16  119.370  119.550  118.984  119.392  586044
...             ...      ...      ...      ...     ...
2023-03-06  136.016  136.190  135.364  135.995  506836
2023-03-07  135.995  137.438  135.537  137.387  595894
2023-03-08  137.392  137.910  136.477  137.223  528313
2023-03-09  137.223  137.254  135.940  136.365  518978
2023-03-10  136.365  136.992  134.111  134.738  579900

[5021 rows x 5 columns]

In [22]:
filtered_state_covariances.size

1