# Trading Strategies powered by Machine Learning - Support Vector Regression

## Importing the library

In [2]:
import sys
sys.path.append('../../')

In [3]:
from util.load_data import *
from config.constants import *
pd.options.mode.chained_assignment = None  # default=

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Download Data

In [4]:
XAUUSD = load_data()

In [5]:
XAUUSD['D1']

                Open      High       Low     Close  Volume
Time
2007-01-01   635.679   637.103   635.006   635.943     604
2007-01-02   635.791   640.802   635.286   639.143    1282
2007-01-03   639.029   644.663   624.634   626.602    1302
2007-01-04   626.699   630.352   619.600   622.533    1365
2007-01-05   622.268   625.768   601.591   606.841    1284
...              ...       ...       ...       ...     ...
2023-03-06  1852.255  1858.168  1845.015  1846.255    1380
2023-03-07  1846.225  1851.555  1812.655  1813.865    1380
2023-03-08  1813.855  1824.185  1809.248  1815.175    1379
2023-03-09  1815.195  1835.565  1811.805  1831.415    1366
2023-03-10  1831.428  1867.348  1827.675  1864.098    1080

[5043 rows x 5 columns]

## Add Feature

In [16]:
data = XAUUSD['D1'].copy()

In [17]:
data

                Open      High       Low     Close  Volume
Time
2007-01-01   635.679   637.103   635.006   635.943     604
2007-01-02   635.791   640.802   635.286   639.143    1282
2007-01-03   639.029   644.663   624.634   626.602    1302
2007-01-04   626.699   630.352   619.600   622.533    1365
2007-01-05   622.268   625.768   601.591   606.841    1284
...              ...       ...       ...       ...     ...
2023-03-06  1852.255  1858.168  1845.015  1846.255    1380
2023-03-07  1846.225  1851.555  1812.655  1813.865    1380
2023-03-08  1813.855  1824.185  1809.248  1815.175    1379
2023-03-09  1815.195  1835.565  1811.805  1831.415    1366
2023-03-10  1831.428  1867.348  1827.675  1864.098    1080

[5043 rows x 5 columns]

In [18]:
window = 20
data['SMA'] = data['Close'].rolling(window=window).mean()

In [19]:
# Drop missing values and reset index
data = data.dropna()

In [20]:
data

                Open      High       Low     Close  Volume         SMA
Time
2007-01-23   633.412   647.615   632.476   645.576    1373   624.65825
2007-01-24   645.825   648.770   638.015   646.582    1377   625.19020
2007-01-25   646.870   654.442   644.235   644.778    1359   625.47195
2007-01-26   645.314   647.833   639.942   645.380    1261   626.41085
2007-01-28   645.262   647.708   644.800   647.070      80   627.63770
...              ...       ...       ...       ...     ...         ...
2023-03-06  1852.255  1858.168  1845.015  1846.255    1380  1837.07395
2023-03-07  1846.225  1851.555  1812.655  1813.865    1380  1834.63730
2023-03-08  1813.855  1824.185  1809.248  1815.175    1379  1832.67830
2023-03-09  1815.195  1835.565  1811.805  1831.415    1366  1831.50780
2023-03-10  1831.428  1867.348  1827.675  1864.098    1080  1832.89595

[5024 rows x 6 columns]

## Model Building

### Split into train and test set, separate the label

In [ ]:
from sklearn.model_selection import train_test_split

# Split into train and test set
train, test = train_test_split(df, test_size=0.2, random_state=42)

# Separate the label
y = train['signal'].copy()
X = train.drop(columns=['signal'])
y_test = test['signal'].copy()
X_test = test.drop(columns=['signal'])