In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import datetime
import os
import matplotlib.style
from pandas.core.common import flatten
from functools import partial, reduce
plt.style.use('ggplot')

In [1]:
pairs_list = [
    'XAUUSD/XAUUSD_H4 - XAUUSD_H4',
]

In [4]:
df = {}
for pair in range(len(pairs_list)):
    df[pair] = pd.read_csv(
        '../../Data_Forex/'+pairs_list[pair]+'.csv', index_col=0, parse_dates=True)
    df[pair]['Day'] = df[pair].index.dayofweek
    dmap = {0: 'Mon', 1: 'Tue', 2: 'Wed',
            3: 'Thu', 4: 'Fri', 5: 'Sat', 6: 'Sun'}
    df[pair]['Day'] = df[pair]['Day'].map(dmap)

In [5]:
df

{0:                          Open      High       Low     Close  Volume  Day
 Time
 2007-01-01 00:00:00   635.679   636.194   635.009   635.497      95  Mon
 2007-01-01 04:00:00   635.336   636.220   635.254   635.699      97  Mon
 2007-01-01 08:00:00   635.780   636.225   635.201   635.993      99  Mon
 2007-01-01 12:00:00   636.053   636.189   635.117   636.006      90  Mon
 2007-01-01 16:00:00   635.902   636.185   635.006   635.989      96  Mon
 ...                       ...       ...       ...       ...     ...  ...
 2023-03-10 00:00:00  1831.428  1834.765  1827.974  1829.085     240  Fri
 2023-03-10 04:00:00  1829.085  1834.575  1827.675  1833.405     240  Fri
 2023-03-10 08:00:00  1833.415  1837.245  1830.778  1834.865     240  Fri
 2023-03-10 12:00:00  1834.885  1867.348  1831.384  1862.975     240  Fri
 2023-03-10 16:00:00  1862.985  1865.005  1854.005  1864.098     120  Fri

 [25976 rows x 6 columns]}